:root{
    --primary-color: #262262;
    --secondary-color: #ED2624;
    --text-color: #1e1e1e;
}
.create-shipment-header{
    border-bottom: .5px solid rgb(224, 224, 224);
    padding-bottom: 15px;
}
.all-cargo-list-icon{
    color: var(--secondary-color);
    font-size: 25px;
}
.party-details-icon{
    color: var(--secondary-color);
}
.header-cargo-heading{
    font-size: 22px;
    font-family: "Inter";
    font-weight: 600;
}
.header-cargo-icon{
    color: var(--secondary-color);
}
.add-customer{
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
}
.add-cargo-header{
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 30px;
}
.cargo-all-lists td{
    font-size: 13px;
    font-family: "Inter";
    font-weight: 500;
}
.cargo-list-action{
    padding: 2px 4px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    cursor: pointer;
}
input.react-autosuggest__input {
    padding: 10px 12px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}
.cargo-add-box-btn{
    position: absolute;
    top: 65%;
    right: 0;
    button{
        padding: 8px 15px;
        background-color: var(--secondary-color);
        border-radius: 10px;
        color: white;
        font-family: "Inter";
        display: flex;
        gap: 6px;
        align-items: center;
        font-weight: 600;
        font-size: 15px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    button:hover{
        background-color: var(--primary-color);
        transition: 400ms;
    }
 
}
.cargo-items-counter{
    width: 60px;
    height: 45px;
    background-color: var(--primary-color);
    position: absolute;
    top: -130%;
    right: 2px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
font-size: 16px;
font-weight: 600;
}
.cargo-delete-btn{
    font-family: "Inter";
    font-size: 15px;
    font-weight: 500;
}
.cargo-delete-btn:hover{
    background-color: #b3110e;
    transition: 400ms;
}
.delete-btn-icon{
    font-size: 20px;
}
.items-delete-btn{
    background-color: var(--secondary-color);
    padding: 4px 6px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}
.box-add-btn-icon{
    font-size: 25px;
}
.party-add-btn{
    @apply inline-flex items-center gap-2 rounded-lg bg-slate-700 px-3 py-1.5 text-sm font-medium text-white shadow-sm hover:bg-slate-800 transition-colors;
}
.party-add-btn:disabled {
    @apply bg-slate-300 cursor-not-allowed;
}

.party-add-btn > svg {
    @apply text-slate-300;
}
