:root{
    --primary-color: #262262;
    --secondary-color: #ED2624;
    --text-color: #1e1e1e;
}
.add-cargo-header{
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 30px;
}
.header-cargo-heading{
    font-size: 22px;
    font-family: "Inter";
    font-weight: 600;
}
.header-cargo-icon{
    color: var(--secondary-color);
    font-size: 25px;
}