:root{
    --primary-color: #262262;
    --secondary-color: #ED2624;
    --text-color: #1e1e1e;
}

/* login page style */
.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}
.login-page::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
      background: linear-gradient(
                rgba(0, 0, 0, 0.7), 
                rgba(0, 0, 0, 0.5)
              );
              z-index: 1;
}

.login-page-container{
    display: flex;
    justify-content: center;
    align-items: center !important;
}
.login-page-box{
    background-color: white;
    border-radius: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    z-index: 4;
    
}
.Login-page-box img{
    width: 100px !important;
}
.login-page-heading{
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 600;
    color: var(--primary-color);
    padding: 10px 0px 15px;
}
.login-btn{
    background-color: var(--secondary-color);
    padding: 8px 20px;
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 10px;
}
.login-form-row{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-form-row input{
    background-color: rgb(238, 238, 238);
    width: 100%;
    padding: 8px 20px;
    margin-bottom: 15px;
}
.login-page-box form{
    width: 100%;
    padding-top: 10px;
}
.login-form-row label{
    font-size: 13px;
    font-family: "Inter";
    font-weight: 400;
    padding-bottom: 4px;
    color: #747474;
}
.login-register-link{
    padding: 10px 0px 0px;
    font-size: 14px;
    font-family: "Roboto";
    color: var(--secondary-color);
}

/* forgot and reset */
.forgot-password{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.forgot-password-form h2 {
  font-size: 23px;
  font-family: "Roboto";
  margin-bottom: 20px;
  font-weight: 600;
}

.forgot-password-form form {
  display: flex;
  flex-direction: column;
}

.forgot-password-form label {
  margin-bottom: 4px;
  text-align: left;
  font-size: 13px;
  font-family: "Roboto";
}

.forgot-password-form input {
  padding: 8px 15px;
  margin-bottom: 15px;
  background-color: #efefef;
  border-radius: 4px;
}

.forgot-password-form button {
  padding: 10px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
}
.forgot-password-form-icon{
  background-color: var(--primary-color);
  color: white;
  width: 80px;
  height: 80px;
}

.forgot-password button:disabled {
  background-color: #cccccc;
}

.forgot-password p {
  margin-top: 10px;
  color: #f00;
}
.forgot-password-link{
  width: 100%;
  display: flex;
  justify-content: end;

}
.forgot-password-link a{
  font-size: 13px;
  font-family: "Inter";
  margin-top: 10px !important;
}
.eye-color{
  color: var(--primary-color);
}
/* reset password */

.reset-password{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-password-form{
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px;
}
.reset-password-form h2{
  font-size: 23px;
  font-family: "Roboto";
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.reset-password-row input{
  background-color: rgb(238, 238, 238);
  width: 100%;
  padding: 8px 20px;
  margin-bottom: 15px;
}
.reset-password-row label{
  font-size: 13px;
    font-family: "Roboto";
    font-weight: 400;
    padding-bottom: 4px;
    text-align: left !important;
}
.reset-password-row button{
  padding: 10px 0px 0px;
    font-size: 14px;
    font-family: "Roboto";
    background-color: var(--secondary-color);
    padding: 10px 20px;
    width: 100%;
    color: white;
    font-weight: 600;
    border-radius: 8px;
}